<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="style.css" />
    <title>Registro</title>

    <script>
        $(document).ready(
            function(){
                var mensaje = "";
 
                $("#alertaNombre").hide();
                $("#alertaEmail").hide();
                $("#alertaTelefono").hide();
                $("#alertaComentario").hide();
                $("#alertaRut").hide();
 -
                $("#nombre").focusout(function(){
                    if ($("#nombre").val().trim().length == 0) {
                        mensaje = "Debe ingresar el nombre";
                        $("#alertaNombre").html(mensaje);
                        $("#alertaNombre").show();
                    } else {
                        $("#alertaNombre").hide();
                    }
                });
 
                $("#formulario").submit(function(){
                    if ($("#nombre").val().trim().length == 0) {
                        alert("debe ingresar el nombre");
                        event.preventDefault();
                    }
                });

                $("#email").focusout(function(){
                    if ($("#email").val().trim().length == 0) {
                        mensaje = "Debe ingresar un email";
                        $("#alertaEmail").html(mensaje);
                        $("#alertaEmail").show();
                    } else {
                        $("#alertaEmail").hide();
                    }
                });
 
                $("#formulario").submit(function(){
                    if ($("#email").val().trim().length == 0) {
                        alert("Debe ingresar un email");
                        event.preventDefault();
                    }
                });

                $("#telefono").focusout(function(){
                    if ($("#telefono").val().trim().length == 12) {
                        $("#alertaTelefono").hide();
                    } else {
                        mensaje = "Su telefono debe contener 8 digitos";
                        $("#alertaTelefono").html(mensaje);
                        $("#alertaTelefono").show();
                    }
                });

                //$("#telefono").submit(function(){
                //    if ($("#telefono").val().trim().length != 0) {
                //        if ($("#telefono").val().trim().length < 12) {
                //            alert("el telefono ingresado debe contener 8 digitos");
                //            event.preventDefault();
                //        } else{
                //            if ($("#telefono").val().trim().length > 12) {
                //                alert("el telefono ingresado debe contener 8 digitos");
                //                event.preventDefault();
                //            }
                //        }
                //    }
                //});

                $("#comentario").focusout(function(){
                    if ($("#comentario").val().trim().length < 50) {
                        mensaje = "Su comentario debe contener al menos 50 caracteres";
                        $("#alertaComentario").html(mensaje);
                        $("#alertaComentario").show();
                    } else {
                        $("#alertaComentario").hide();
                    }
                });

                $("#formulario").submit(function(){
                    if ($("#comentario").val().trim().length < 50) {
                        alert("Su comentario debe contener al menos 50 caracteres");
                        event.preventDefault();
                    }
                });

                $("#rut").focusout(function(){
                    if ($("#rut").val().trim().length == 0) {
                        mensaje = "Debe ingresar un rut";
                        $("#alertaRut").html(mensaje);
                        $("#alertaRut").show();
                    } else {
                        $("#alertaRut").hide();
                    }
                });

                var Fn = {
                    // Valida el rut con su cadena completa "XXXXXXXX-X"
                    validaRut : function (rutCompleto) {
                        rutCompleto = rutCompleto.replace("‐","-");
                        if (!/^[0-9]+[-|‐]{1}[0-9kK]{1}$/.test( rutCompleto ))
                            return false;
                        var tmp 	= rutCompleto.split('-');
                        var digv	= tmp[1]; 
                        var rut 	= tmp[0];
                        if ( digv == 'K' ) digv = 'k' ;
                        
                        return (Fn.dv(rut) == digv );
                    },
                    dv : function(T){
                        var M=0,S=1;
                        for(;T;T=Math.floor(T/10))
                            S=(S+T%10*(9-M++%6))%11;
                        return S?S-1:'k';
                    }
                }


                $("#Enviar").click(function(){
                    if (Fn.validaRut( $("#rut").val() )){
                        
                    } else{
                        alert("El rut ingresado no es valido");
                        event.preventDefault();
                    }
                });
            }
 
        );

        
    </script>

</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid" >
          <a class="navbar-brand" href="home.html"><img src="img/LOGO.svg" alt="LOGO" width="150px"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="home.html" id="text-navbar">Inicio</a>
              </li>
              <!--<li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>-->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="img/user.svg" alt="" width="15px">
                  Usuario
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="login.html">Iniciar Sesion</a></li>
                  <li><a class="dropdown-item" href="singin.html">Registrarse</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="home.html">Cerrar Sesion</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="carrito.html">
                    <img src="img/cart.svg" alt="" width="15px">
                    Carrito</a>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit" id="buscar" >Buscar</button>
            </form>
          </div>
        </div>
      </nav>

      
        <div class="d-flex flex-row">
            <!--inicio de menu vertical------------------------------------------------------------------------------>
            <div class="vertical-menu" style="position:absolute">
                <a href="./viewsNav/cat.html"><img src="img/cat.svg" alt=""> </a>          
                <a href="viewsNav/dog.html"><img src="img/dog.svg" alt=""></a>
                <a href="viewsNav/bird.html"><img src="img/crow.svg" alt=""></a>
                <a href="viewsNav/exotic.html"><img src="img/worm.svg" alt=""></a>
            </div>
            <!--productos------------------------------------------------------------------------------------->
            <div class="container">
                <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
                    
                    
                </div>
            </div>
        </div>
        
        
         
         
      
      <!--<script src="app.js"></script>-->


    <center><H1>Registro</H1></center>

    <div class="container" style="margin-left: 70px;">
        <div class="row">
 
            <form action="" method="post" id="formulario">
                <div class="alert alert-danger" role="alert" id="alertaNombre">
                    Error!
                  </div>
                <div class="form-group">
                    <label for="nombre">Nombre Completo *</label>
                    <input type="text" id="nombre" class="form-control">
                </div>
                <div class="alert alert-danger" role="alert" id="alertaEmail">
                    Error!
                  </div>
                <div class="form-group">
                    <label for="email">Email *</label>
                    <input type="email" id="email" class="form-control">
                </div>
                <div class="alert alert-danger" role="alert" id="alertaRut">
                    Error!
                  </div>
                <div id="wrapper">
                    <label for="rut">Rut Completo*</label>
                    <input type="text" class="form-control" placeholder="Rut, ej:11111111-1" aria-describedby="sizing-addon1" id="rut">
                </div>
                <div class="alert alert-danger" role="alert" id="alertaTelefono">
                    Error!
                  </div>
                <div class="form-group">
                    <label for="telefono">Telefono</label>
                    <input type="tel" id="telefono" class="form-control" placeholder="+56900498870">
                </div>
                <div class="form-group">
                    <label for="ciudad">Ciudad Recidencia *</label>
                    <input type="text" id="ciudad" class="form-control">
                </div>
                <div class="alert alert-danger" role="alert" id="alertaComentario">
                    Error!
                  </div>
                <div class="form-group">
                    <label for="comentario">Comentarios o sugerencias *</label>
                    <h1> </h1>
                    <textarea name="comentario" id="comentario" rows="7" cols="90%" placeholder="Escriba aqui sus comentarios."></textarea>
                </div>

                <input type="submit" value="Enviar" class="btn btn-primary" id="Enviar">
                <input type="reset" value="Limpiar" class="btn btn-danger">
            </form>
 
 
        </div>
    </div>

</body>
</html>