/*estilos de navbar*/
#buscar:hover {
  color: white;
  background-color: #7C4927;
}

.container-fluid{
  background-color: #C39243;
  color: white;;
}
.text-navbar{
 color:white;
}
.navbar{
  padding: 0px;
  
}
/*estilo menu vertical*/
.vertical-menu {
  
  width: 6%; 
  height: 88vh;
  
}

.vertical-menu a {
   
  background-color: #C39243;
  height: 25%;
  color: black; 
  display: block; 
  text-decoration: none; 
}

.vertical-menu a:hover {
  background-color: #5C640F; 
}

.vertical-menu a img{
    width: 80px;
    padding: 20px;
    margin-top: 25px;
   
    color: white;
}

/*estilos de caja*/

#cardPoke{
/*max-width:20rem;
max-height:20rem;*/
width:90%;
height:85%;
margin-left: 2%;
}

#cardImage{

width:100%;
height:50%;
padding-top:1rem;
}

#info{

height:5rem;
width:100%;
height:auto;
}

.contador{
font-size: 15px;
}
#num{
/*backgrouop: 25px;*/
padding-left: 7px;
padding-right: 7px;
}

#ver{
width: 30%;
}
/*#agregar {
width: 1%;
}
#restar{
width:1%;
}*/

/*#img-animals {
max-width: 200px;
=======
/*estilos de navbar*/
#buscar:hover {
  color: white;
  background-color: #7C4927;
}

.container-fluid{
  background-color: #C39243;
  color: white;;
}
.text-navbar{
 color:white;
}
.navbar{
  padding: 0px;
  
}
/*estilo menu vertical*/
.vertical-menu {
  
  width: 5%; 
  height: 88vh;
  
}

.vertical-menu a {
   
  background-color: #C39243;
  height: 25%;
  color: black; 
  display: block; 
  text-decoration: none; 
}

.vertical-menu a:hover {
  background-color: #5C640F; 
}

.vertical-menu a img{
    width: 80px;
    padding: 20px;
    margin-top: 25px;
   
    color: white;
}

/*estilos de caja*/

#cardPoke{
/*max-width:20rem;
max-height:20rem;*/
width:90%;
height:85%;
margin-left: 2%;
}

#cardImage{

width:100%;
height:50%;
padding-top:1rem;
}

#info{

height:5rem;
width:100%;
height:auto;
}

.contador{
font-size: 15px;
}
#num{
/*backgrouop: 25px;*/
padding-left: 7px;
padding-right: 7px;
}
#caja1, #caja2, #caja3{
/*background-color: rgba(137, 245, 253, 0.608);*/
margin: 5px;
max-width: 100px;
max-height: 50px;
}
#contenerdor-Clima{
max-height: 50px;
}
#icono-animado{
width: 60px;
}

#ver{
width: 30%;
}
/*#agregar {
width: 1%;
}
#restar{
width:1%;
}*/